
@{
    ViewBag.Title = "Access Denied";
}

<div class="text-center text-danger">
    <h1>Access Denied</h1>
    <h6 class="mb-3">You do not have permission to view this resource.</h6>
    <img src="~/images/YouShallNotPass.jpg" alt="No Access"/>
</div>