@using empty_project.Models
@model Employee
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@ViewBag.PageTitle</h1>

    <table>
        <tr>
            <td>Name:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Department:</td>
            <td>@Model.Department</td>
        </tr>
    </table>
    
    
</body>
</html>