@model System.Collections.Generic.IEnumerable<Employee>

@{
    //Layout = null;  // this overrides all _ViewStart.cshtml loading layout code
    ViewBag.Title = "Employee List";
}

<div class="card-deck">
    @foreach (var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top" src="images/easy_being_programmer.jpg" asp-append-version="true"/>

            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-outline-info">TagHelper</a>
                <a href="@Url.Action("Details", "Home", new { id = employee.Id })" class="btn btn-outline-warning">HtmlHelper UrlAction</a>
                @Html.ActionLink("HtmlHelper HtmlActionLink", "Details", "Home", new { id = employee.Id })
                <a href="/home/details/@employee.Id" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-success">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/js/CustomScript.js"></script>
}
