<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @RenderBody()
</div>
@*two ways to render a section optionally*@
@if (IsSectionDefined("Scripts"))
{
    @*@RenderSection("Scripts");*@
}

@RenderSection("Scripts", false)
</body>
</html>
